[submodule "models/DLRM"]
	path = models/DLRM
	url = git@github.com:facebookresearch/dlrm.git
	branch = main
[submodule "models/fairscale"]
	path = models/fairscale
	url = https://github.com/facebookresearch/fairscale
	branch = main
[submodule "models/transformer-xl"]
	path = models/transformer-xl
	url = git@github.com:gajagajago/DLCM-transformer-xl.git
	branch = main
[submodule "models/DeepSpeedPipelineParallel"]
	path = models/DeepSpeedPipelineParallel
	url = git@github.com:gajagajago/DeepSpeedPipelineParallel.git
	branch = main
[submodule "stable-baselines3"]
	path = stable-baselines3
	url = git@github.com:jeongyooneo/stable-baselines3.git
	branch = sb3-for-rl-dlcm
